.wrapper-recipe-show {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-header {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 900;
}

.top-features,
.tools {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.generate-shopping-list,
.add-ingredients-btn {
  text-decoration: none;
  border-style: solid;
  color: black;
  padding: 4px;
  box-shadow: 4px 8px #0c0c0c;
}

.disable-tool {
  text-decoration: none;
  border-style: solid;
  color: black;
  padding: 4px;
  box-shadow: 4px 8px #0c0c0c;
}

.line {
  width: 100%;
  border-bottom: 4px solid black;
  margin-bottom: 40px;
}

.td-button {
  display: flex;
}

table {
  width: 100%;
  border-collapse: collapse;
}
